#root {
  text-align: center;
}

.todo-view {
  width: 100%;
}

.add-button {
  margin-bottom: 10px;
}
.new-todo {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.new-todo > input {
  margin-right: 10px; 
  padding: 5px;
  color:black;
  background-color: white;
  border-radius: 5px;
}

.new-todo > button, .todo-list > button {
  margin-right: 10px;
}

.todo-list {
  display: flex; 
  flex-direction: row;
  margin-bottom: 10px;
  width: 70%;
}

.todo-list > input {
  width: 2%;
}

.todo-list > p {
  color:blue;
  margin-right: 10px;
  width: 70%;
}

.todo-list > button{
  width: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
